<!-- <mat-form-field>
    <input matInput placeholder="Your name here" type="text" [(ngModel)]="message" [ngModelOptions]="{updateOn: 'blur'}">
</mat-form-field>

<button mat-button color='primary' (click)="sendMessage()"> Enviar </button>

<h1> Mensajes del servidor </h1>
<h5>
    {{ serverMessages | async }}
</h5> -->

<div class="centered">
    <h2> Controles de audio </h2>
    <button mat-raised-button color='primary' (click)="connect()"> 
        Stream
    </button>
    <button mat-raised-button color='accent' (click)="disconnect()"> 
        Desconectar
    </button>
    <hr>
    <button mat-raised-button color='primary' (click)="listen()"> 
        Escuchar
    </button>
    <button mat-raised-button color='warn' (click)="stopListen()"> 
        Dejar de escuchar
    </button>
</div>

<!-- <button mat-raised-button color='warn' (click)="requestMaster()"> 
   Request Master
</button>
<div class="master" *ngIf="youAreMaster | async">
    <div>
        Connections
    </div>
    <ul>
        <li> </li>
    </ul>
</div> -->

<!-- <input type="file" accept="audio/*" capture="microphone"> -->
